.chart-title{
    text-align: center;
}

.pie-chart-class{
    width: 300px !important;
    height: 300px !important;
}

.bar-chart-class{
    width: 400px !important;
    height: 400px !important;
}

.chart-container{
    display: flex;
    gap: 20px;
    height: 100%;
}