.navbar{
    background-color: #383a5b ;
    padding: 12px;
}

.nav-button{
    border: none;
    padding: 8px;
    background: #94b3f7;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-brand{
    color: #ffffff;
}

.table-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
        width: 100%;
    }
}
.content-container{
    display: flex;
}

.mat-mdc-tab-group{
    width: 100vw;
}