<mat-sidenav mode="side" opened class="sidenav-open">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter Task Name</mat-label>
      <input matInput [(ngModel)]="searchText"  />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" >
        <mat-option value="">All</mat-option>
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="completed">Completed</mat-option>
        <mat-option value="cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button class="sidenav-btn" (click)="applyFilters()">Apply Filters</button>
  </div>
</mat-sidenav>